/*@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    display: block;
  }
}*/

.body {
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
  flex-direction: column;
}

#main-doc header{
  font-size: 40px;
  font-weight: bold;
}

.main-section{
  
  font-size: 25px;
}

.code {
  width: 400px;
  height: auto;
  font-size: 15px;
  background: lightblue;
  color: black;
  }

nav {
  display: flex;
  flex-direction: column;
}

nav a{
  display: block;
}


